env:
  - tf_version=0.11.11

sudo: required

language: bash

before_install:
  - cd /tmp
  - wget https://releases.hashicorp.com/terraform/${tf_version}/terraform_${tf_version}_linux_amd64.zip -O /tmp/terraform.zip
  - sudo unzip -d /usr/local/bin/ /tmp/terraform.zip
  - rm terraform.zip
  - git clone https://github.com/bats-core/bats-core.git
  - cd bats-core
  - sudo ./install.sh /usr/local
  - wget http://stedolan.github.io/jq/download/linux64/jq
  - sudo mv jq /usr/local/bin
  - cd $TRAVIS_BUILD_DIR
script:
  - bats -r tests
